<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fast-http.ZPM">
    <Module>
      <Name>fast-http</Name>
      <Version>1.2.3</Version>
      <Description>Fast HTTP wrapper for %Net.HttpRequest</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.http.PKG"/>
      <UnitTest Name="/" Package="tests.dc.http" Phase="test"/>
      <WebApplication Url="/csp/demo"
            Path="/web"
            DeployPath="${cspdir}demo"
            CookiePath="/csp/demo/"
            PasswordAuthEnabled="0"
            UnauthenticatedEnabled="1"
            Recurse="1"
            MatchRoles=":%DB_${Namespace}:%All"
            DispatchClass="dc.http.DemoREST"/>
      <WebApplication Url="/csp/ui/demo"
            Path="${cspdir}ui/demo"
            ServeFiles="1"
            CookiePath="/csp/ui/demo/"
            PasswordAuthEnabled="0"
            UnauthenticatedEnabled="1"
            AuthenticationMethods="64" 
            Recurse="1"
            MatchRoles=":%DB_${Namespace}"/>
      <FileCopy Name="web/" Target="${cspdir}ui/demo/"/>
    </Module>
  </Document>
</Export>