<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fast-http.ZPM">
    <Module>
      <Name>fast-http</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.http.PKG"/>
      <Resource Name="dc.aigateway.PKG"/>
    </Module>
  </Document>
</Export>